In [2]:
n = int(input('enter number:'))
s = 0
for i in range(1,n):
    if n%i == 0:
        s+=i
if s == n:
    print('perfect number')
else:
    print('not perfect number')

enter number:10
not perfect number

In [5]:
t = int(input('enter tables upto:'))
t_len = int(input('enter table length:'))
for i in range(1,t+1):
    for j in range(1,t_len+1):
        print('{} * {} = {}'.format(i,j,i*j))

enter tables upto:10
enter table length:20
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12
1 * 13 = 13
1 * 14 = 14
1 * 15 = 15
1 * 16 = 16
1 * 17 = 17
1 * 18 = 18
1 * 19 = 19
1 * 20 = 20
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57
3 * 20 = 60
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56
4 * 15 = 60
4 * 16 = 64
4 * 17 = 68
4 * 18 = 72
4 * 19 = 76
4 * 20 = 80
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
6 * 13 = 78
6 * 14 = 84
6 * 15 = 90
6 * 16 = 96
6 * 17 = 102
6 * 18 = 108
6 * 19 = 114
6 * 20 = 120
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
7 * 13 = 91
7 * 14 = 98
7 * 15 = 105
7 * 16 = 112
7 * 17 = 119
7 * 18 = 126
7 * 19 = 133
7 * 20 = 140
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96
8 * 13 = 104
8 * 14 = 112
8 * 15 = 120
8 * 16 = 128
8 * 17 = 136
8 * 18 = 144
8 * 19 = 152
8 * 20 = 160
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
9 * 13 = 117
9 * 14 = 126
9 * 15 = 135
9 * 16 = 144
9 * 17 = 153
9 * 18 = 162
9 * 19 = 171
9 * 20 = 180
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
10 * 15 = 150
10 * 16 = 160
10 * 17 = 170
10 * 18 = 180
10 * 19 = 190
10 * 20 = 200

In [9]:
for i in range(10,0,-2):
    print(i,end = ' ')

10 8 6 4 2

In [11]:
i = 10
while i>0:
    print(i,end = ' ')
    i-=1

10 9 8 7 6 5 4 3 2 1

In [16]:
# Break
# continue

for i in range(1,10):
    
    if i == 5:
        continue
    print(i,end = ' ')

1 2 3 4 6 7 8 9

### functions:
- block of code to perform some operations
- Advantageous:
   - code reusabality
   - readbulity of the program
   - code reduce
   - time decrease
- types of functions:
   - 1. inbuilt/default functions:
        - Ex.print,sum,max,min,int
   - 2. User define functions:
        1. function creation:
           1. function declearation:
           
              `def FunctionName(arg):`
           2. function defination:
           
              `statements`
        2. function calling:
        
            ` by using function name`
   - 3. special functions:
      - lambda,comphrensions,iterators,map

In [19]:
min([1,2,3])

1

In [33]:
#function creation:
def add(a,b):
    print(a+b)
    return a,b
a,b = add(4,5)
print(a,b)

9
4 5

In [22]:
def sub(a,b):
    print(a-b)
sub(56,45)

11

In [23]:
# types of user define functions:
# based on return value
#1. without arg and without return value
#2. without arg and with return value
#3. with arg and without return value
#4. with arg and with return value

In [27]:
#1. without arg and without return value
def f1():
    n = int(input('enter n value:'))
    if 10%n == 0:
        print('number is factor of 10')
    else:
        print('number is not a factor of 10')
f1()
n= f1()
print(n)

enter n value:5
number is factor of 10
enter n value:2
number is factor of 10
None

In [37]:
#1. without arg and with return value
def f2():
    n1 = int(input('enter n1 value'))
    n2 = int(input('enter n2 value'))
    return n1+n2,n1-n2,n1*n2,n1/n2
add,sub,mul,div = f2()
print('addition is:',add)
print('subtraction is:',sub)
print('multiplication is:',mul)
print('division is:',div)

enter n1 value10
enter n2 value5
addition is: 15
subtraction is: 5
multiplication is: 50
division is: 2.0

In [39]:
# with arg and without return
n1 = int(input('enter n1 value'))
n2 = int(input('enter n2 value'))
def f2(n1,n2):
    print('addition is:',n1+n2)
    print('subtraction is:',n1-n2)
    print('multiplication is:',n1*n2)
    print('division is:',n1/n2)
f2(n1,n2)

enter n1 value10
enter n2 value5
addition is: 15
subtraction is: 5
multiplication is: 50
division is: 2.0